node_modules
.next
out
.data
prisma/dev.db
prisma/dev.db-journal
prisma/test-integration.db
prisma/ci.db
prisma/e2e.db
**/*.db
**/*.db-journal
test-results
playwright-report
.playwright
e2e.db
ci.db
.env
.env*.local
*.tsbuildinfo
next-env.d.ts
